/* .nav { */
/* font-family: $font;
  background-color: $nav-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  height: 10%;
  width: 100%;
  z-index: 100; */
/* .logo {
    color: $logo-color;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $logo-color;
    }
    h1 {
      align-self: center;
      margin: 0rem 1rem;
    }
  } */
/* .menu-list { */
/* display: flex; */
/* justify-content: space-between; */
/* align-items: center; */
/* .inactive { */
/* display: inline-block; */
/* color: #000000; */
/* text-decoration: none; */
/* padding: 0.7rem 1rem; */
/* font-weight: 800; */
/* margin: 0rem 0.2rem; */
/* border-radius: 30px; */
/* &:hover {
        background-color: $primary-color;
        color: $white;
        border-radius: 30px;
        transition: all 0.5s;
      }
    }
    .active {
      background-color: $primary-color;
      color: $white;
    }
  }
  .hamburger {
    display: none;
  }
  @media screen and (max-width: 580px) {
    padding: 0.5rem 0.5rem;
    .logo {
      h1 {
        display: none;
      }
    }
  }
} */

/* .inactive {
  text-decoration: none;
  color: #000000;
  &:hover {
    background-color: $primary-color;
    color: $white;
    border-radius: 30px;
    transition: all 0.5s;
  }
}

.active {
  background-color: $primary-color;
  color: $white;
}
.pi-bars {
  color: red;
} */
