/* $nav-color: #293241; */
/* $nav-link: #3d5a80; */
/* $nav-color: #181421; */
$nav-color: #f3f6f9;
$nav-link: #0d306e;
$white: #ffffff;
$black: #000000;
$logo-color: #31c471;
$primary-color: #7900e1;
$font: DejaVu Sans, Noto Sans;
